html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.container {
  width: 400px;
  margin: 10px auto;
}

.img-style {
  width: 300px;
}

.button-style {
  background-color: seashell;
  padding: 10px;
  border-radius: 25px;
}
button:hover {
  font-size: 1.1rem;
}
#btn {
  /* background-color: aqua; */
  height: 45px;
}

#error {
  color: red;
}
